@import "../../styles/variables";

:host ::ng-deep .player {
  position: relative;
  min-height: 100%;
  padding: 0 20px 80px;
  background: no-repeat fixed center;
  background-size: cover;
  box-sizing: border-box;
  &-tone {position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.5);}
  &-content {position: relative; z-index: 100;}
  &-title {text-align: center; line-height: 3.8rem; font-size: 3.3rem; color: $white;
    @media (max-width: $mobile) {font-size: 2rem; line-height: 2.5rem;}
  }
  .teams {color: $white;
    @media (max-width: $mobile) {margin-top: 50px;}
    &-title {font-size: 1.4rem; font-weight: bold; margin-bottom: 20px;}
    &-item {margin-bottom: 20px; position: relative;
      &:last-child {margin-bottom: 0;}
    }
    &-name {font-size: 2.5rem; font-weight: bold;
      @media (max-width: $mobile) {font-size: 1.5rem;}
    }
    &-players {font-size: 0.7rem}
    &-score {font-size: 2.5rem; font-weight: bold; text-align: right;
      @media (max-width: $mobile) {font-size: 1.5rem;}
    }
    &-achievements {display: flex; flex-direction: row-reverse; list-style-type: none;
      position: absolute; top: -20px; right: 500px;
      @media (min-width: $mobile + 1px) and (max-width: $smalldesktop) {top: -16px;}
      @media (max-width: $mobile) {right: 101%; top: -12px;}
      &-item{font-size: 3rem;
        @media (min-width: $mobile + 1px) and (max-width: $smalldesktop) {font-size: 2rem;}
        @media (max-width: $mobile) {font-size: 1rem;}
      }
    }
  }
}
