<div
  [style.backgroundImage]="!!(quiz$ | async).image
    ? 'url(' + (quiz$ | async).image.link + ')'
    : 'url(/assets/images/background.jpg)'"
  class="player">
  <div class="header header-transparent">
    <img src="../../../../assets/images/logo_alternative.svg" alt="Oh My Quiz">
  </div>
  <div class="player-content">
    <router-outlet></router-outlet>
  </div>
  <div class="player-tone"></div>
</div>
