<a class="modal-close">
  <span (click)="close()" class="icon icon-cross"></span>
</a>
<div class="modal-title">
  {{ ('ACCOUNT.QUIZES.MODAL.DELETE_QUESTION.TEXT_TITLE' | translate) }}
</div>
<button
  (click)="remove()"
  [class.button-loading]="isDeleting$ | async"
  class="button">
  {{ ('ACCOUNT.QUIZES.MODAL.DELETE_QUESTION.BUTTON_REMOVE' | translate) }}
</button>
<button
  (click)="close()"
  class="button button-outline">
  {{ ('ACCOUNT.QUIZES.MODAL.DELETE_QUESTION.BUTTON_CANCEL' | translate) }}
</button>

