<div *ngIf="(question$ | async) as question" class="question">
  <div class="question-number">
    {{ 'SHARED.TEXT_QUESTION' | translate }}
    {{ (currentQuestionNumber$ | async) }}
    {{ 'SHARED.TEXT_OF' | translate }}
    {{ (questionsCount$ | async) }}
  </div>
  <h1 class="player-title">{{ question?.text }}</h1>
  <div class="container">
    <div class="row">
      <div class="col col-50 col-mobile-50">
        <button
          (click)="selectAnswer('a')"
          [disabled]="!!(selectedAnswer$ | async)"
          [class.button-disabled]="!!(selectedAnswer$ | async)"
          [class.button-answer-dimmed]="!!(selectedAnswer$ | async) && (selectedAnswer$ | async) !== 'a'"
          class="button button-answer button-a">{{ question?.answerA }}
        </button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button
          (click)="selectAnswer('b')"
          [disabled]="!!(selectedAnswer$ | async)"
          [class.button-disabled]="!!(selectedAnswer$ | async)"
          [class.button-answer-dimmed]="!!(selectedAnswer$ | async) && (selectedAnswer$ | async) !== 'b'"
          class="button button-answer button-b">{{ question?.answerB }}
        </button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button
          (click)="selectAnswer('c')"
          [disabled]="!!(selectedAnswer$ | async)"
          [class.button-disabled]="!!(selectedAnswer$ | async)"
          [class.button-answer-dimmed]="!!(selectedAnswer$ | async) && (selectedAnswer$ | async) !== 'c'"
          class="button button-answer button-c">{{ question?.answerC }}</button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button
          (click)="selectAnswer('d')"
          [disabled]="!!(selectedAnswer$ | async)"
          [class.button-disabled]="!!(selectedAnswer$ | async)"
          [class.button-answer-dimmed]="!!(selectedAnswer$ | async) && (selectedAnswer$ | async) !== 'd'"
          class="button button-answer button-d">{{ question?.answerD }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="(questionTimer$ | async) > 0"
    class="question-timer">
    {{ (formattedQuestionTimer$ | async) }}
  </div>
</div>
