@import '~src/styles/variables';

:host ::ng-deep .question {text-align: center; color: #fff;
  h1 {margin-bottom: 1.66rem;
    @media (max-width: $mobile) {font-size: 1.38rem; line-height: 1.6rem; font-weight: normal;}
  }
  .col {padding: 0 10px; display: flex;}
  .row {margin: 0 -10px}
  .container {max-width: 740px; margin: 0 auto; box-sizing: border-box;}
  &-number {text-align: center; display: inline-block; font-size: 1.38rem; width: 100%;
    position: absolute; top: -30px; right: 0;
    @media (max-width: $mobile) {display: none;}
  }
  &-timer {text-align: center; font-weight: bold; font-size: 1.38rem; margin-top: 1rem;
    @media (max-width: $mobile) {font-size: 1rem;}
    &-withquestionimage {position: absolute; left: 0; bottom: 0;
      @media (max-width: $smalldesktop) {position: relative;}
    }
  }
  .button-answer{padding: 3rem 0; text-align: center; box-sizing: border-box;}
}
