<div [style.backgroundImage]="(!!(quiz$ | async).image)
     ? 'url(' + (quiz$ | async).image.link + ')'
     : 'url(/assets/images/background.jpg)'" class="presenter">
  <div class="header header-transparent">
    <img src="../../../../assets/images/logo_alternative.svg" alt="oh-my-quiz-logo">
  </div>
  <div class="presenter-content">
    <router-outlet></router-outlet>
  </div>
  <div class="presenter-tone"></div>
</div>
