@import "~src/styles/variables";

:host ::ng-deep .presenter {
  position: relative;
  min-height: 100%;
  padding: 0 20px;
  background: no-repeat fixed center;
  background-size: cover !important;
  box-sizing: border-box;
  z-index: 10;
  &-content {z-index: 100; position: relative; min-height: 100vh; display: flex;
    flex-direction: column; justify-content: center;}
  &-tone {position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.5);}
  &-title {line-height: 3.8rem; font-size: 3.3rem; color: $white;}
  .teams {color: $white;
    @media (max-width: $mobile) {margin-top: 50px;}
    &-title {font-size: 1.4rem; font-weight: bold;}
    &-item {margin: 20px 0; position: relative;
      &:last-child {margin-bottom: 0;}
    }
    &-name {font-size: 2.5rem; font-weight: bold;
      @media (max-width: $mobile) {font-size: 1.5rem;}
    }
    &-players {font-size: 0.7rem}
    &-score {font-size: 2.5rem; font-weight: bold;
      @media (max-width: $mobile) {font-size: 1.5rem;}
    }
    &-achievements {display: flex; flex-direction: row-reverse; list-style-type: none;
      position: absolute; top: -20px; right: 660px;
      @media (max-width: $mobile) { left: -15%;}
      &-item{font-size: 3rem;
        @media (max-width: $mobile) {font-size: 2rem;}
      }
    }
  }
}
