@import "../../../../../../styles/variables";

:host ::ng-deep .ready {
  &-text {margin-bottom: 0.5rem; text-align: center;}
  &-second {text-align: center; font-size: 8.3rem; font-weight: bold; color: $white;}
}
