<div class="ready">
  <div class="ready-text">
    <h1 class="presenter-title">{{ 'SHARED.TEXT_GET_READY' | translate }}</h1>
  </div>
  <div class="ready-second">{{ getReadyTimer$ | async }}</div>
</div>
