<div class="signup">
  <div class="public-formcontainer">
    <a class="public-back" routerLink="/">
      <span class="icon icon-back"></span>
      {{ 'SHARED.LINK_BACK' | translate }}
    </a>
    <form
      *ngIf="(formState$ | async) as formState"
      (submit)="onSubmit()"
      [ngrxFormState]="formState"
      class="form card">
      <h3 class="card-title">{{ 'PUBLIC.SIGNUP.TEXT_SIGNUP' | translate }}</h3>
      <div class="form-group">
        <div class="form-label">{{ 'PUBLIC.SIGNUP.TEXT_NAME' | translate }}</div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.name.isInvalid"
          [ngrxFormControlState]="formState.controls.name"
          name="name"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.name.isInvalid">
          <div
            *ngIf="formState.controls.name.errors?.required"
            class="form-error">
            {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_ENTER_NAME' | translate }}
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <div class="form-label">{{ 'PUBLIC.SIGNUP.TEXT_EMAIL' | translate }}</div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.email.isInvalid
            || ((errorResponse$ | async)?.status === 422 && !!(errorResponse$ | async)?.error?.errors.email)"
          [ngrxFormControlState]="formState.controls.email"
          name="email"
          type="email"
          class="form-control"
        />
        <ng-container *ngIf="formState.isSubmitted && formState.controls.email.isInvalid">
          <div
            *ngIf="formState.controls.email.errors?.required"
            class="form-error">
            {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_ENTER_EMAIL' | translate }}
          </div>
          <div
            *ngIf="formState.controls.email.errors?.email"
            class="form-error">
            {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_EMAIL_INVALID' | translate }}
          </div>
        </ng-container>
        <ng-container *ngIf="(errorResponse$ | async)?.status === 422 && !!(errorResponse$ | async)?.error?.errors.email">
          <div
            *ngIf="(errorResponse$ | async)?.error?.errors.email"
            class="form-error">
            {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_EMAIL_ALREADY_TAKEN' | translate }}
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ 'PUBLIC.SIGNUP.TEXT_PASSWORD' | translate }}
        </div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.password.isInvalid"
          [ngrxFormControlState]="formState.controls.password"
          name="password"
          type="password"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.password.isInvalid">
          <div
            *ngIf="formState.controls.password.errors?.required"
            class="form-error">
            {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_ENTER_PASSWORD' | translate }}
          </div>
        </ng-container>
      </div>
      <div
        *ngIf="!!(errorResponse$ | async) && (errorResponse$ | async).status !== 422"
        class="form-error">
        {{ 'PUBLIC.SIGNUP.ERRORS.TEXT_SIGNUP_FAILED' | translate }}
      </div>
      <!--<p class="public-forgot">-->
        <!--<a routerLink="/forgot-password" class="link">-->
          <!--{{ 'PUBLIC.SIGNUP.LINK_FORGOT_PASSWORD' | translate }}-->
        <!--</a>-->
      <!--</p>-->
      <div class="form-buttons">
        <button [class.button-loading]="isLoading$ | async"
                type="submit"
                class="button button-block">
          {{ 'PUBLIC.SIGNUP.BUTTON_SIGN_UP' | translate }}
        </button>
      </div>
      <p class="public-signup">{{ 'PUBLIC.SIGNUP.TEXT_ALREADY_HAVE_ACCOUNT' | translate }} <br>
        <a class="link" routerLink="/login">{{ 'PUBLIC.SIGNUP.LINK_LOGIN' | translate }}</a>
      </p>
    </form>
  </div>
</div>
