<div class="login">
  <div class="public-formcontainer">
    <a class="public-back" routerLink="/">
      <span class="icon icon-back"></span>
      {{ 'SHARED.LINK_BACK' | translate }}
    </a>
    <form
      *ngIf="(formState$ | async) as formState"
      (submit)="onSubmit()"
      [ngrxFormState]="formState"
      class="form card">
      <h3 class="card-title">{{ 'PUBLIC.LOGIN.TEXT_LOGIN' | translate }}</h3>
      <div class="form-group">
        <div class="form-label">{{ 'PUBLIC.LOGIN.TEXT_EMAIL' | translate }}</div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.email.isInvalid
            || (errorResponse$ | async)?.status === 401"
          [ngrxFormControlState]="formState.controls.email"
          name="email"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.email.isInvalid">
          <div
            *ngIf="formState.controls.email.errors?.required"
            class="form-error">
            {{ 'PUBLIC.LOGIN.ERRORS.TEXT_ENTER_EMAIL' | translate }}
          </div>
          <div
            *ngIf="formState.controls.email.errors?.email"
            class="form-error">
            {{ 'PUBLIC.LOGIN.ERRORS.TEXT_EMAIL_IS_INVALID' | translate }}
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <div class="form-label">{{ 'PUBLIC.LOGIN.TEXT_PASSWORD' | translate }}</div>
        <input
          [class.form-control-invalid]="(formState.isSubmitted && formState.controls.email.isInvalid)
            || (errorResponse$ | async)?.status === 401"
          [ngrxFormControlState]="formState.controls.password"
          name="password"
          type="password"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.password.isInvalid">
          <div
            *ngIf="formState.controls.password.errors?.required"
            class="form-error">
            {{ 'PUBLIC.LOGIN.ERRORS.TEXT_ENTER_PASSWORD' | translate }}
          </div>
        </ng-container>
      </div>
      <p *ngIf="(errorResponse$ | async) as errorResponse" class="form-error">
        {{ (errorResponse?.status === 401)
          ? ('PUBLIC.LOGIN.ERRORS.TEXT_EMAIL_OR_PASSWORD_IS_INVALID' | translate)
          : ('PUBLIC.LOGIN.ERRORS.TEXT_LOGIN_FAILED' | translate) }}
      </p>
      <!--<p class="public-forgot">-->
        <!--<a-->
          <!--routerLink="/forgot-password"-->
          <!--class="link">-->
          <!--{{ 'PUBLIC.LOGIN.LINK_FORGOT_PASSWORD' | translate }}-->
        <!--</a>-->
      <!--</p>-->
      <div class="form-buttons">
        <button
          [class.button-loading]="isLoading$ | async"
          type="submit"
          class="button button-block">
          {{ 'PUBLIC.LOGIN.BUTTON_SIGN_IN' | translate }}
        </button>
      </div>
      <p class="public-signup">{{ 'PUBLIC.LOGIN.TEXT_DONT_HAVE_ACCOUNT' | translate }}&nbsp;-
        <a class="link" routerLink="/sign-up">{{ 'PUBLIC.LOGIN.LINK_SIGN_UP' | translate }}</a>
      </p>
    </form>
  </div>
</div>
