@import "~src/styles/variables";

:host ::ng-deep .start {
  &-quiz {margin-bottom: 100px; text-align: center;
    @media (max-width: $mobile) {margin-bottom: 50px;}
  }
  &-pin {margin-top: 1.9rem; font-size: 3.3rem; color: $black; font-weight: bold;
    @media (max-width: $mobile) {font-size: 2.5rem;}
  }
  &-actions {width: 90%; max-width: 360px; margin: 0 auto;}
  .container {width: 55%; min-width: 670px; max-width: 850px; margin: 0 auto 100px;
    @media (max-width: $mobile) {width: 90%; min-width: 0;}
  }
  .col {padding: 0 5%;
    @media (max-width: $mobile) {padding: 0 20px;}
  }
}
