<div class="start">
  <div class="start-quiz">
    <h1 class="presenter-title">{{ (quiz$ | async).name }}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-50">
        <div class="card">
          <p class="card-maininfo">{{ 'PRESENTER.GAME.WAIT.TEXT_SCAN_QR_CODE' | translate }}</p>
          <div class="card-maininfo">
            <qrcode [qrdata]="appUrl + '/?code=' + (game$ | async).code" [width]="192" [errorCorrectionLevel]="'H'" [margin]="2"></qrcode>
          </div>
          <p class="card-maininfo">
            {{ 'PRESENTER.GAME.WAIT.TEXT_OR' | translate }}<br/>
            {{ 'PRESENTER.GAME.WAIT.TEXT_ENTER_GAME_PIN' | translate }}
          </p>
          <div class="start-pin">{{ (game$ | async).code }}</div>
        </div>
      </div>
      <div class="col col-50">
        <div class="teams">
          <h2 class="teams-title">{{ 'SHARED.TEXT_JOINED_TEAMS' | translate }}</h2>
          <div *ngFor="let team of (teams$ | async)" class="teams-item">
            <div class="teams-name">{{ team.name }}</div>
            <div class="teams-players">
              <span *ngFor="let player of team.players; let last = last">
                {{ (last) ? player : player + ', ' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="start-actions">
    <button
      (click)="start()"
      [class.button-loading]="isStartingGame$ | async"
      [disabled]="(teams$ | async).length === 0"
      class="button button-block button-whiteoutline">
      {{ ((teams$ | async).length > 0)
        ? ('PRESENTER.GAME.WAIT.BUTTON_START_GAME' | translate)
        : ('PRESENTER.GAME.WAIT.BUTTON_WAITING_FOR_TEAMS' | translate) }}
    </button>
  </div>
</div>
