@import '../../../styles/variables';

:host ::ng-deep .quizes {
  &-grid {margin-bottom: 60px;}
  &-createbutton {box-sizing: border-box; width: 100%; border: 2px dashed $secondary-color;
    margin-bottom: 30px; border-radius: 10px; font-size: 1.1rem; color: $secondary-color;
    background: transparent; cursor: pointer; transition: all 0.3s; outline: none;
    &:hover {background: $border-color;}
  }
  &-createbuttoncontent {display: block; margin: 65px auto 90px;}
  &-plus {display: block; width: 90px; height: 90px; margin: 0 auto 20px;
    background: url(../../../assets/images/plus.svg);}
  .competitions {font-size: 0.7rem;
    &-quiz {width: 33.3%;}
    &-winner {width: 33.3%; text-align: center}
    &-score {width: 33.3%; text-align: right;}
  }
  &-item {position: relative; box-sizing: border-box; width: 100%; margin-bottom: 30px;
    border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); transition: all 0.3s;
    & .button {display: none; z-index: 10;}
    &:hover .button {display: block;
      @media (max-width: $mobile) {display: none; pointer-events: none;}
    }
    &:hover .quizes-tone {opacity: 0.2}
  }
  &-image {display: flex; justify-content: center; align-items: center; height: 200px;
    border-radius: 10px 10px 0 0; background: $border-color; background-size: cover;}
  &-info {padding: 0.7rem 1rem 1.8rem; }
  &-name {margin-bottom: 5px; font-size: 1.1rem; font-weight: bold;}
  &-description {margin: 0; font-size: 0.7rem; color: $secondary-color;}
  &-tone {position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0;
    border-radius: 10px; background: $black; transition: 0.3s;
    @media (max-width: $mobile) {display: none;}
  }
}
