<div class="page quizes">
  <div class="page-header">
    <h1 class="page-title">{{ 'ACCOUNT.QUIZES.TEXT_MY_QUIZES' | translate }}</h1>
    <div class="page-actions">
      <button (click)="create()" class="button button-small">
        <span class="icon icon-plus"></span>
        {{ 'ACCOUNT.QUIZES.BUTTON_NEW_QUIZ' | translate }}
      </button>
    </div>
  </div>
  <div class="quizes-grid">
    <div class="row">
      <div class="col col-33">
        <button (click)="create()" class="quizes-createbutton">
        <span class="quizes-createbuttoncontent">
          <span class="quizes-plus"></span>
          {{ 'ACCOUNT.QUIZES.TEXT_CREATE_NEW_QUIZ' | translate }}
        </span>
        </button>
      </div>
      <div
        *ngFor="let quiz of (quizes$ | async)"
        class="col col-33">
        <quiz-item [quiz]="quiz"></quiz-item>
      </div>
    </div>
  </div>
  <section class="section competitions">
    <h2 class="section-title">{{ 'ACCOUNT.QUIZES.TEXT_COMPETITION_HISTORY' | translate }}</h2>
    <div class="table">
      <div *ngFor="let game of (games$ | async)" class="table-row">
        <game-item [game]="game"></game-item>
      </div>
    </div>
  </section>
</div>
