// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oh-my-quiz-primary: mat-palette($mat-indigo);
$oh-my-quiz-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$oh-my-quiz-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$oh-my-quiz-theme: mat-light-theme($oh-my-quiz-primary, $oh-my-quiz-accent, $oh-my-quiz-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($oh-my-quiz-theme);

@import 'variables';
@import 'fonts';
@import '~ngx-toastr/toastr';

html, body {height: 100%; min-height:100%;}
body {margin: 0;padding: 0;}

/* Typography */
html, body, input, select, textarea {
  font-family: 'Roboto', sans-serif;
}

html {font-size: $font_size;}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

h1 {font-size: $title_fz; color: $white;
  @media (max-width: $mobile) {
    font-size: $larger; line-height: 5.2rem;
  }
}

h3 {font-size: $larger; text-align: center;}

a {text-decoration: none;}

/* page */
.page {
  &-header {display: flex; flex-direction: row; justify-content: space-between;
    align-items: center; margin-bottom: 60px;
    @media (max-width: $mobile) {flex-direction: column;}
  }
  &-title {line-height: 2rem; font-size: 1.7rem; font-weight: bold; color: $black;
    @media (max-width: $mobile) {margin-bottom: 20px; text-align: center;}
  }
  &-actions {display: flex;
    .button {margin-left: 10px;
      @media (max-width: $mobile) {&:first-child {margin-left: 0;}}
    }
  }
}

/* responsive columns */
.row {margin: 0 -20px;display: flex;flex-wrap: wrap;}

.col {padding: 0 20px; min-height: 1px; box-sizing: border-box; flex: 1 0 0;
  &-8 {max-width: 8.33%; flex-basis: 8.33%;}
  &-12 {max-width: 12.5%; flex-basis: 12.5%;}
  &-16 {max-width: 16.66%; flex-basis: 16.66%;}
  &-25 {max-width: 25%; flex-basis: 25%;}
  &-33 {max-width: 33.33%; flex-basis: 33.33%;}
  &-50 {max-width: 50%; flex-basis: 50%;}
  &-66 {max-width: 66.66%; flex-basis: 66.66%}
  &-75 {max-width: 75%; flex-basis: 75%;}
  &-100 {max-width: 100%;flex-basis: 100%;}
  @media (max-width: $mobile) {max-width: 100%;flex-basis: 100%;
    &-mobile{
      &-75 {max-width: 75%; flex-basis: 75%;}
      &-25 {max-width: 25%; flex-basis: 25%;}
      &-50 {max-width: 50%; flex-basis: 50%;}
    }
  }
}

/* Forms */
.form {box-sizing: border-box;
  &-group {margin-bottom: 15px;position: relative;}
  &-control {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    padding: 25px 10px 5px;
    border: 1px solid $border-color;
    outline: none;
    border-radius: 4px;
    font-size: $font_size;
    background: transparent;
    &:focus {border-color: $primary-color;}
    &-invalid {border-color: $error-color;}
    &::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    {display: none; -webkit-appearance: none; margin: 0;}
    &[type=number] {-moz-appearance: textfield;}
  }
  &-label {
    position: absolute;
    left: 10px;
    top: 8px;
    font: $smaller 'Roboto', sans-serif;
    color: $secondary-color;
    pointer-events: none;
  }
  &-error {font-size: $smaller; color: $error-color; margin-top: 0.3rem; text-align: left;}
  &-buttons {margin-top: 0.85rem; display: flex; justify-content: space-between;
    .button:not(:last-child) {margin-right: 10px;}
  }
  &-select {position: relative;
    &::after {width: 30px; height: 30px; background: url(../assets/images/icons.svg) -150px 0 no-repeat;
      position: absolute; top: 10px; right: 5px; content: "";}
  }
  &-image {border-radius: 10px; margin-bottom: 1.11rem;}
}

/* select */
select {appearance: none;}

/* card */
.card {
  box-sizing: border-box;
  background-color: $white;
  border-radius: 15px;
  padding: 2.2rem 2.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  &-desc {margin-bottom: 1.5rem; line-height: 1.33rem;}
  &-title{font-size: $title_fz; margin-bottom: 1.5rem;}
  &-image {border-radius: 10px; max-width: 100%; height: 190px;
    display: block; margin: 0 auto 1.11rem;}
  &-maininfo {margin: 0; line-height: 1.6rem; font-size: 1.4rem; font-weight: bold;}
  @media (max-width: $mobile) {margin-bottom: 1rem;}
}
.link {font-weight: bold;color: $primary-color; white-space: nowrap;
  &:hover {text-decoration: underline;}
}
/* button */
.button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(107, 43, 211, 0.3);
  border-radius: 6px;
  display: inline-block;
  line-height: $icon-height;
  padding: 10px;
  text-align: center;
  background-color: $primary-color;
  color: $white;
  outline: none;
  border: none;
  transition: all 0.3s;
  &:hover {
    background: $hover-button-color;
  }
  &-outline {
    background-color: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: none;
    &:hover {background: none;}
  }
  &-whiteoutline {
    background: transparent;
    color: $white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: none;
    &:hover {background: none; border-color: $white;}
  }
  &-block {display: block; width: 100%;}
  &-loading {position: relative; opacity: 0.8; pointer-events: none; color: transparent;
    &::after {position: absolute; width: 12px; height: 12px; border: #fff 3px solid; border-top-color: transparent;
      animation: spin 1s linear infinite; content: ""; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
      border-radius: 50%;
    }
  }
  &-small {padding: 0.3rem 1.1rem;}
  &-smallmain {padding: 0.3rem 2.8rem;}
  &-answer{font-size: 2.5rem; color: #000; margin-top: 20px;
    line-height: 2.5rem; padding: 2.5rem 0; box-shadow: none;
    border-radius: 10px; display: block; width: 100%;
    &-dimmed{opacity: 0.2}
    @media (max-width: $mobile){font-size: 1.38rem; padding: 0;}
  }
  &-disabled{pointer-events: none}
  &-a{background-color: $yellow; &:hover {background: $yellow}}
  &-b{background-color: $blue; &:hover {background: $blue}}
  &-c{background-color: $green; &:hover {background: $green}}
  &-d{background-color: $pink; &:hover {background: $pink}}
}

/* loading spinner */
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* icon */
.icon {
  background: transparent url(/assets/images/icons.svg) $icon-width $icon-height no-repeat;
  width: $icon-width; height: $icon-height; display: inline-block; vertical-align: top;
  --bg-position: 30px 30px;
  background-position: var(--bg-position);
  &-back {--bg-position: -90px -60px;}
  &-logout {--bg-position: -30px -30px;}
  &-plus {--bg-position: -60px -30px;}
  &-coloredplus {--bg-position: -30px 0;}
  &-settings {--bg-position: -120px 0;}
  &-cross {--bg-position: -60px -90px;}
  &-dropdown {--bg-position: -150px 0;}
}

/* header */
.header {
  position: relative;
  z-index: 100;
  padding: 1.1rem 1.3rem;
  line-height: $icon-height;
  &-transparent {color: $white;background: transparent;}
  &-colored {border-bottom: 1px solid $border-color; color: $black; background: $header-background;}
  @media (max-width:$mobile) {text-align: center;}
}

/* table */
.table {
  &-row {border-bottom: $border-color 1px solid; padding: 15px 0;
    &::after {content: ""; clear: both; display: table;}
  }
  &-cell {float: left;}
}

.footer {position: relative; z-index: 100; padding-bottom: 1.5rem; color: $white;
  text-align: center; font-size: 0.7rem;}

/* section */
.section {
  &-title {margin-bottom: 20px; line-height: 2rem; font-size: 1.7rem;
    font-weight: bold; color: $black;}
}

.mat-dialog-container {
  border-radius: 15px !important;
  padding: 1rem 2.5rem !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08) !important;
}

.checkbox {
  position: relative;
  display: block;
  color: #000;
  font-size: $font_size;
  margin: 0.5rem 0;
  input {opacity: 0; width: 0; height: 0; position: absolute;}
  &-icon {width: 18px; height: 18px; border-radius: 3px;
    border: 1px solid #88949D; transition: all 0.3s;
    display: inline-block; vertical-align: middle; margin-right: 0.5rem;
    &::after {width: 18px; height: 19px; position: absolute;
      transition: all 0.3s; transform: scale(0); content: "";
      background: url(/assets/images/icons.svg), $primary-color;
      background-position: -187px -37px; opacity: 0;
    }
  }
  &:hover .checkbox-icon {
    border-color: $primary-color;
    box-shadow: 0 5px 15px rgba($primary-color, 0.08);
  }
  input:checked ~ .checkbox-icon {
    border-color: $primary-color;
    &::after {
      opacity: 1; transform: scale(1);}
  }
}

.radio {position: relative; display: inline-block; vertical-align: top;
  input {opacity: 0; width: 0; height: 0; position: absolute;}
  &-icon {box-sizing: border-box; width: 18px; height: 18px; margin-right: 12px;
    border-radius: 50%;border: $secondary-color 1px solid; transition: all 0.3s;
    display: inline-block; vertical-align: middle;
    &::after {width: 10px; height: 10px; position: absolute; top: 6px; left: 4px;
      transition: all 0.3s; transform: scale(0); content: "";
      background: $primary-color; opacity: 0; border-radius: 50%;
    }
  }
  &:hover .radio-icon {border-color: $primary-color;}
  input:checked ~ .radio-icon {border-color: $primary-color;
    box-shadow: 0 5px 15px rgba($primary-color, 0.08);
    &::after {opacity: 1; transform: scale(1);}
  }
}

.modal{cursor: pointer; position: relative!important;
  &-close{position: absolute; top: 30px; right: 40px;}
  &-title{font-size: $title_fz; margin: 1.5rem;}
}

.toast-container {
  .ngx-toastr {background: rgba(11,156,49,0.7); box-shadow: 0 5px 20px rgba(11,156,49,0.2);
    padding: 10px 20px; width: auto; max-width: 300px;
    font-family: 'Roboto', sans-serif; font-size: $font_size; transition: all 0.6s;
    &:hover {box-shadow: 0 5px 20px rgba(11,156,49,0.2); background: rgba(11,156,49,0.8); transition: all 0.2s;}
    &::before {width: 25px; height: 25px; position: absolute; top: 6px; left: 20px;
      background: green; font-size: 0; mask-image: url('../assets/images/icons.svg');
    }
  }
  .toast-success {padding-left: 50px;
    &::before {content: ""; mask-position: -93px -93px; top: 7px;}
  }
  .toast-error {padding-left: 50px;
    &::before {content: ""; background: red; mask-position: -100px -50px;}
  }
  .toast-warning {padding-left: 50px;
    &::before {content: ""; mask-position: -350px -75px;}
  }
  .toast-info {padding-left: 50px;
    &::before {content: ""; mask-position: -325px -75px;}
  }
}
