
/* color variables */
$primary-color: #7E1EF3;
$secondary-color: #88949D;
$border-color: #E4E4E4;
$hover-button-color: #36ABFF;
$error-color: #ea0000;
$header-background: #F6F6F8;
$avatar-color: #59C9A5;
$white: #fff;
$black: #000;
$yellow: #EFC55A;
$blue: #4BA9FF;
$green: #7DD548;
$pink: #F46B6B;

/* font sizes */
$font_size: 18px;
$title_fz: 1.66rem;
$large: 1.2rem;
$larger: 2.2rem;
$largest: 3.3rem;
$smaller: 0.72rem;

/* responsiveness breakpoints */
$smalldesktop: 1279px;
$tablet: 1023px;
$mobile: 767px;
$smallmobile: 480px;

/* icons */
$icon-width: 30px;
$icon-height: 30px;
