<div class="wait">
  <div class="wait-quiz">
    <h1 class="player-title">{{ (quiz$ | async)?.name }}</h1>
  </div>
  <div class="teams">
    <h2 class="teams-title">{{ 'SHARED.TEXT_JOINED_TEAMS' | translate }}</h2>
    <div *ngFor="let team of (teams$ | async)" class="teams-item">
      <div class="teams-name">{{ team.name }}</div>
      <div class="teams-players">
        <span *ngFor="let player of team.players; let last = last">
          {{ (last) ? player : player + ', ' }}
        </span>
      </div>
    </div>
  </div>
</div>
