@import "../../../../../../styles/variables";

:host ::ng-deep .wait {display: flex; flex-direction: column;
  &-quiz {margin-bottom: 130px;
    @media (max-width: $mobile) {margin-bottom: 70px;}
  }
  .teams {flex: 1 0 0; display: flex; align-items: flex-start; flex-direction: column;
    max-width: 360px; margin: 0 auto; color: $white;
    /*&-title {margin-bottom: 20px; font-size: 1.4rem; font-weight: bold;}
    &-item {margin-bottom: 20px;
      &:last-child {margin-bottom: 0;}
    }
    &-name {font-size: 2.5rem; font-weight: bold;}
    &-players {font-size: 0.7rem}*/
  }
}
