@import '../../../styles/variables';

:host ::ng-deep .home{
  h1 {font-size: $largest; color: $white;}

  &-header{
    text-align: center;
    padding: 3.3rem 0;
    @media (max-width: $mobile) {
      padding: 2.2rem 0;
      .logo {width: 180px;}
    }
  }
  &-signup{margin-top: 2rem;}
  .container {max-width: 780px; margin: 0 auto;}
  .card {min-height: 100%;
    @media (max-width: $mobile) {min-height: 0;}
  }
}
