<div class="home">
  <header class="home-header">
    <img class="logo" src="/assets/images/logo_2x.svg" alt="oh-my-quiz-logo">
  </header>
  <div class="page">
    <div class="container">
      <div class="row">
        <div class="col col-50">
          <div class="card">
            <h3 class="card-title">
              {{ 'PUBLIC.HOME.TEXT_JOIN_GAME' | translate }}
            </h3>
            <div class="card-desc">
              {{ 'PUBLIC.HOME.TEXT_SCAN_QR' | translate }} <br>
              {{ 'PUBLIC.HOME.TEXT_ENTER_PIN' | translate }}
            </div>
            <form
              *ngIf="(formState$ | async) as formState"
              (submit)="onSubmit()"
              [ngrxFormState]="formState"
              class="form-group">
              <div class="form-label">
                {{ 'PUBLIC.HOME.TEXT_PIN' | translate }}
              </div>
              <input
                [class.form-control-invalid]="formState.isSubmitted && formState.controls.pin.isInvalid
                  || (errorResponse$ | async)?.status === 404"
                [ngrxFormControlState]="formState.controls.pin"
                name="pin"
                type="number"
                class="form-control">
              <ng-container *ngIf="formState.isSubmitted && formState.controls.pin.isInvalid
                || (errorResponse$ | async)?.status === 404">
                <div
                  *ngIf="formState.controls.pin.errors?.required"
                  class="form-error">
                  {{ 'PUBLIC.HOME.ERRORS.TEXT_ENTER_PIN' | translate }}
                </div>
                <div
                  *ngIf="formState.controls.pin.errors?.greaterThan"
                  class="form-error">
                  {{ 'PUBLIC.HOME.ERRORS.TEXT_PIN_INVALID' | translate }}
                </div>
                <div
                  *ngIf="(errorResponse$ | async)?.status === 404"
                  class="form-error">
                  {{ (errorResponse$ | async)?.error.error }}
                </div>
              </ng-container>
              <div class="form-buttons">
                <button
                  [class.button-loading]="isLoading$ | async"
                  type="submit"
                  class="button button-block">
                  {{ 'PUBLIC.HOME.BUTTON_PLAY' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col col-50">
          <div class="card">
            <h3 class="card-title">
              {{ 'PUBLIC.HOME.TEXT_CREATE_GAME' | translate }}
            </h3>
            <div class="card-desc">
              {{ 'PUBLIC.HOME.TEXT_SIGN_IN' | translate }} <br>
              {{ 'PUBLIC.HOME.TEXT_TO_CREATE_GAME' | translate }}
            </div>
            <div class="form-buttons">
              <a routerLink="/login" class="button button-block">
                {{ 'PUBLIC.HOME.BUTTON_LOGIN' | translate }}
              </a>
            </div>
            <div class="home-signup">
              {{ 'PUBLIC.HOME.TEXT_DONT_HAVE_ACCOUNT' | translate }}
              <a routerLink="/sign-up" class="link">
                {{ 'PUBLIC.HOME.LINK_SIGN_UP' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
