@import "../../../../../../styles/variables";

:host ::ng-deep .ready {display: flex; flex-direction: column; align-items: center;
  justify-content: center; min-height: calc(100vh - 162px);
  &-text {margin-bottom: 0.5rem; text-align: center;}
  &-second {text-align: center; font-size: 8.3rem; font-weight: bold; color: $white;
    @media (max-width: $mobile) {font-size: 5rem;}
  }
}
