<div class="final-results">
  <h1 class="final-results-title">{{ (quiz$ | async)?.name }}</h1>
  <div class="container">
    <div class="teams">
      <h2 class="teams-title">
        {{ 'PRESENTER.GAME.FINAL-RESULTS.TEXT_RESULTS' | translate }}
      </h2>
      <div *ngFor="let team of (teams$ | async); let index = index" class="teams-item">
        <div class="row">
          <div class="col col-75 col-mobile-75">
            <div class="teams-info">
              <div class="teams-name">{{ team.name }}</div>
              <div class="teams-players">
                <span *ngFor="let player of team.players; let last = last">
                  {{ (last) ? player : player + ', ' }}
                </span>
              </div>
              <ul class="teams-achievements">
                <li *ngIf="index === 0" class="teams-achievements-item">🏆</li>
              </ul>
            </div>
          </div>
          <div class="col col-25 col-mobile-25">
            <div class="teams-score">{{ team.score }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="final-results-actions">
    <button (click)="quit()"
      class="button button-block button-whiteoutline">
      {{ 'PRESENTER.GAME.FINAL-RESULTS.BUTTON_DONE' | translate }}
    </button>
  </div>
</div>
