@import "~src/styles/variables";

:host ::ng-deep .final-results {
  .container { max-width: 650px; margin: 0 auto 100px;
    @media (max-width: $mobile) { max-width: 60%;}
  }
  .teams {margin-bottom: 7.2rem;}
  &-title{margin-bottom: 7.2rem; font-size: 3.3rem; text-align: center}
  &-actions {width: 90%; max-width: 360px; margin: 0 auto;
    @media (max-width: $mobile) { max-width: 60%;}
  }
}
