<div class="results">
  <h1 class="results-title">{{ (quiz$ | async)?.name }}</h1>
  <div class="container">
    <div class="teams">
      <h2 class="teams-title">{{ 'SHARED.TEXT_RESULTS' | translate }}</h2>
      <div *ngFor="let team of (teams$ | async); let index = index" class="teams-item">
        <div class="row">
          <div class="col col-75 col-mobile-75">
            <div class="teams-info">
              <div class="teams-name">{{ team.name }}</div>
              <div class="teams-players">
                <span *ngFor="let player of team.players; let last = last">
                  {{ (last) ? player : player + ', ' }}
                </span>
              </div>
              <ul class="teams-achievements">
                <li *ngIf="index === 0" class="teams-achievements-item">🥇</li>
                <li *ngIf="index === 1" class="teams-achievements-item">🥈</li>
                <li *ngIf="index === 2" class="teams-achievements-item">🥉</li>
                <li *ngIf="team.isFastest" class="teams-achievements-item">💨</li>
                <li *ngIf="team.isSeries" class="teams-achievements-item">🔥</li>
                <li *ngIf="team.isAllCorrect" class="teams-achievements-item">💪</li>
              </ul>
            </div>
          </div>
          <div class="col col-25 col-mobile-25">
            <div class="teams-score">{{ team.score }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
