<div class="game">
  <div [class.game-stage-active]="(stage$ | async) === gameStage.WAIT" class="game-stage">
    <wait></wait>
  </div>
  <div [class.game-stage-active]="(stage$ | async) === gameStage.GET_READY" class="game-stage">
    <ready></ready>
  </div>
  <div [class.game-stage-active]="(stage$ | async) === gameStage.QUESTION" class="game-stage">
    <question></question>
  </div>
  <div [class.game-stage-active]="(stage$ | async) === gameStage.QUESTION_RESULTS" class="game-stage">
    <results></results>
  </div>
  <div [class.game-stage-active]="(stage$ | async) === gameStage.FINAL_RESULTS" class="game-stage">
    <final-results></final-results>
  </div>
</div>
