<a class="modal-close">
  <span (click)="close()" class="icon icon-cross"></span>
</a>
<h3 class="modal-title">{{ (isEdit)
  ? ('ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_EDIT_QUESTION' | translate)
  : ('ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_NEW_QUESTION' | translate)
  }}</h3>
<form
  *ngIf="(formState$ | async) as formState"
  (submit)="onSubmit()"
  [ngrxFormState]="formState"
  class="form">
  <label class="form-fileupload">
    <img
      [src]="(!!formState.value.media[0]) ? formState.value.media[0].link : 'assets/images/image_upload.svg'"
      alt="Upload image"
      class="card-image">
    <input
      name="image"
      type="file"
      class="form-control"
      accept="image/x-png,image/gif,image/jpeg"
      (change)="onUploadFile($event.target.files)"
      [hidden]="true"/>
  </label>
  <div class="form-group">
    <div class="form-label">
      {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_QUESTION_TEXT' | translate }}
    </div>
    <textarea
      [class.form-control-invalid]="formState.isSubmitted && formState.controls.questionText.isInvalid"
      [ngrxFormControlState]="formState.controls.questionText"
      class="form-control">
    </textarea>
    <ng-container *ngIf="formState.isSubmitted && formState.controls.questionText.isInvalid">
      <div
        *ngIf="formState.controls.questionText.errors?.required"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_ENTER_QUESTION_TEXT' | translate }}
      </div>
    </ng-container>
  </div>
  <div class="answers">
    <div class="answers-text">Answers</div>
    <div class="answers-item">
      <label class="radio">
        <input
          [ngrxFormControlState]="formState.controls.correctAnswer"
          type="radio"
          value="a">
        <span class="radio-icon"></span>
      </label>
      <div class="form-group">
        <div class="form-label">
          {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_ANSWER_A' | translate }}
        </div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.answerA.isInvalid"
          [ngrxFormControlState]="formState.controls.answerA"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.answerA.isInvalid">
          <div
            *ngIf="formState.controls.answerA.errors?.required"
            class="form-error">
            {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_ENTER_ANSWER' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="answers-item">
      <label class="radio">
        <input
          [ngrxFormControlState]="formState.controls.correctAnswer"
          type="radio"
          value="b">
        <span class="radio-icon"></span>
      </label>
      <div class="form-group">
        <div class="form-label">
          {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_ANSWER_B' | translate }}
        </div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.answerB.isInvalid"
          [ngrxFormControlState]="formState.controls.answerB"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.answerB.isInvalid">
          <div
            *ngIf="formState.controls.answerB.errors?.required"
            class="form-error">
            {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_ENTER_ANSWER' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="answers-item">
      <label class="radio">
        <input
          [ngrxFormControlState]="formState.controls.correctAnswer"
          type="radio"
          value="c">
        <span class="radio-icon"></span>
      </label>
      <div class="form-group">
        <div class="form-label">
          {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_ANSWER_C' | translate }}
        </div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.answerC.isInvalid"
          [ngrxFormControlState]="formState.controls.answerC"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.answerC.isInvalid">
          <div
            *ngIf="formState.controls.answerC.errors?.required"
            class="form-error">
            {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_ENTER_ANSWER' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="answers-item">
      <label class="radio">
        <input
          [ngrxFormControlState]="formState.controls.correctAnswer"
          type="radio"
          value="d">
        <span class="radio-icon"></span>
      </label>
      <div class="form-group">
        <div class="form-label">
          {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_ANSWER_D' | translate }}
        </div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.answerD.isInvalid"
          [ngrxFormControlState]="formState.controls.answerD"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.answerD.isInvalid">
          <div
            *ngIf="formState.controls.answerD.errors?.required"
            class="form-error">
            {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_ENTER_ANSWER' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="formState.isSubmitted && formState.controls.correctAnswer.isInvalid">
      <div
        *ngIf="formState.controls.correctAnswer.errors?.required"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_SELECT_CORRECT_ANSWER' | translate }}
      </div>
    </ng-container>
  </div>
  <div class="form-group form-select">
    <div class="form-label">{{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.TEXT_TIME_SECONDS' | translate }}</div>
    <select
      [class.form-control-invalid]="formState.isSubmitted && formState.controls.time.isInvalid"
      [ngrxFormControlState]="formState.controls.time"
      class="form-control">
      <option value="5">5</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="60">60</option>
    </select>
    <ng-container *ngIf="formState.isSubmitted && formState.controls.time.isInvalid">
      <div
        *ngIf="formState.controls.time.errors?.required"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.ERRORS.TEXT_SELECT_TIME' | translate }}
      </div>
    </ng-container>
  </div>
  <div class="form-buttons">
    <button
      [class.button-loading]="isLoading$ | async"
      type="submit"
      class="button button-block">
      {{ (isEdit)
      ? ('ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.BUTTON_SAVE' | translate)
      : ('ACCOUNT.QUIZES.MODAL.EDIT_QUESTION.BUTTON_CREATE' | translate)
      }}
    </button>
  </div>
</form>

