@import "../../../../../../styles/variables";

:host ::ng-deep {
  .answers {margin: 34px 0 20px;
    &-text {line-height: 1rem; font-size: $smaller; color: $secondary-color; margin-bottom: 0.4rem;}
    &-item {display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;}
    .form-group {margin: 0;}
  }
}
