@import '~src/styles/variables';

:host ::ng-deep .question {text-align: center; color: #fff;
  h1 {margin-bottom: 1.66rem;
    @media (max-width: $mobile){font-size: 2.5rem;}
  }
  .col {padding: 0 10px; display: flex;}
  .row {margin: 0 -10px}
  .container {max-width: 740px; margin: 0 auto; box-sizing: border-box;}
  &-image{max-width: 100%; box-sizing: border-box; border-radius: 10px;}
  &-number {text-align: center; display: inline-block; font-size: 1.38rem; width: 100%;
  position: absolute; top: -30px; right: 0}
  &-timer{text-align: center; font-weight: bold; font-size: 1.38rem; margin-top: 1rem;
    &-absolute{position: absolute; left: 0; bottom: 0;
    @media (max-width: $mobile){position: relative;}}
    @media (max-width: $mobile){font-size: 1rem;}
  }
  &-withimage{
    .button-answer{padding: 4.05rem 3rem;}
  }
}
