<div *ngIf="(question$ | async) as question" class="question" [class.question-withimage]="!!question.image">
  <div class="question-number">
    {{ 'PRESENTER.GAME.QUESTION.TEXT_QUESTION' | translate }}
    {{ (currentQuestionNumber$ | async) }}
    {{ 'PRESENTER.GAME.QUESTION.TEXT_OF' | translate }}
    {{ (questionsCount$ | async) }}
  </div>
  <h1 class="presenter-title">{{ question.text }}</h1>
  <div class="container">
    <img *ngIf="question.image" src="{{ question.image.link }}" alt="Question image" class="question-image">
    <div class="row">
      <div class="col col-50 col-mobile-50">
        <button [class.button-answer-dimmed]="!!(correctAnswer$ | async) && (correctAnswer$ | async) !== 'a'"
          class="button button-answer button-a button-disabled">{{ question.answerA }}</button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button [class.button-answer-dimmed]="!!(correctAnswer$ | async) && (correctAnswer$ | async) !== 'b'"
          class="button button-answer button-b button-disabled">{{ question.answerB }}</button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button [class.button-answer-dimmed]="!!(correctAnswer$ | async) && (correctAnswer$ | async) !== 'c'"
          class="button button-answer button-c button-disabled">{{ question.answerC }}</button>
      </div>
      <div class="col col-50 col-mobile-50">
        <button [class.button-answer-dimmed]="!!(correctAnswer$ | async) && (correctAnswer$ | async) !== 'd'"
          class="button button-answer button-d button-disabled">{{ question.answerD }}</button>
      </div>
    </div>
  </div>
  <div
    *ngIf="(questionTimer$ | async) > 0"
    [class.question-timer-absolute]="question.image"
    class="question-timer">{{ (formattedQuestionTimer$ | async) }}
  </div>
</div>
