<div class="quizes-item">
  <div [style.backgroundImage]="(quiz.image) ? 'url(' + quiz.image.link + ')' : 'none'"
    class="quizes-image">
    <button
      (click)="play()"
      [class.button-loading]="isLoading$ | async"
      class="button button-smallmain button-play">
      {{ 'ACCOUNT.QUIZES.SHARED.BUTTON_PLAY' | translate }}
    </button>
  </div>
  <div class="quizes-info">
    <h2 class="quizes-name">{{ quiz.name }}</h2>
    <p class="quizes-description">
      {{ quiz.questionsCount }}
      {{ quiz.questionsCount | pluralForm : 'ACCOUNT.QUIZES.QUIZ_ITEM.TEXT_QUESTION_PLURAL' | async }},
      {{ quiz.capacity }} {{ 'ACCOUNT.QUIZES.QUIZ_ITEM.TEXT_PER_GAME' | translate }}
    </p>
  </div>
  <a [routerLink]="quiz.id" class="quizes-tone"></a>
</div>
