@import '../../styles/variables';

:host ::ng-deep .public {
  position: relative;
  min-height: 100%;
  padding: 0 20px 80px;
  background: url(/assets/images/background.jpg) no-repeat fixed;
  background-size: cover;
  box-sizing: border-box;
  &-formcontainer {max-width: 360px; margin: 0 auto;}
  &-forgot {margin: 1.66rem 0; text-align: center;}
  &-signup {margin: 2.5rem 0 0;}
  &-back {
    display: block;
    margin-bottom: 0.55rem;
    line-height: $icon-height;
    text-decoration: none;
    font-weight: bold;
    color: $white;
  }
}
