<div class="public">
  <div *ngIf="(url$ | async) !== '/'" class="header header-transparent">
    <img src="../../../../assets/images/logo_alternative.svg" alt="oh-my-quiz-logo">
  </div>
  <router-outlet></router-outlet>
</div>
