<a class="modal-close">
  <span (click)="close()" class="icon icon-cross"></span>
</a>
<h3 class="modal-title">
  {{(isEdit)
    ? ('ACCOUNT.QUIZES.MODAL.EDIT.TEXT_EDIT_QUIZ' | translate)
    : ('ACCOUNT.QUIZES.MODAL.EDIT.TEXT_NEW_QUIZ' | translate)
  }}
</h3>
<form
  *ngIf="(formState$ | async) as formState"
  (submit)="onSubmit()"
  [ngrxFormState]="formState"
  class="form">
  <label class="modal-upload">
    <img [src]="(!!formState.value.media[0])
    ? formState.value.media[0].link
    : 'assets/images/image_upload.svg'"
    alt="Upload image"
    class="card-image">
    <input
      name="image"
      type="file"
      class="form-control"
      accept="image/x-png,image/gif,image/jpeg"
      (change)="onUploadFile($event.target.files)"
      [hidden]="true"/>
  </label>
  <div class="form-group">
    <div class="form-label">
      {{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_NAME' | translate }}
    </div>
    <input
      [class.form-control-invalid]="formState.isSubmitted && formState.controls.name.isInvalid"
      [ngrxFormControlState]="formState.controls.name"
      name="name"
      type="text"
      class="form-control"/>
    <ng-container *ngIf="formState.isSubmitted && formState.controls.name.isInvalid">
      <div
        *ngIf="formState.controls.name.errors?.required"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT.ERRORS.TEXT_ENTER_NAME' | translate }}
      </div>
    </ng-container>
  </div>
  <div class="form-group">
    <div class="form-label">
      {{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_QUESTIONS' | translate }}
    </div>
    <input
      [class.form-control-invalid]="formState.isSubmitted && formState.controls.questionsCount.isInvalid"
      [ngrxFormControlState]="formState.controls.questionsCount"
      name="questions"
      type="number"
      class="form-control"/>
    <ng-container *ngIf="formState.isSubmitted && formState.controls.questionsCount.isInvalid">
      <div
        *ngIf="formState.controls.questionsCount.errors?.required"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT.ERRORS.TEXT_ENTER_QUESTIONS' | translate }}
      </div>
      <div
        *ngIf="formState.controls.questionsCount.errors?.greaterThanOrEqualTo"
        class="form-error">
        {{ 'ACCOUNT.QUIZES.MODAL.EDIT.ERRORS.TEXT_QUESTIONS_INVALID' | translate }}
      </div>
    </ng-container>
  </div>
  <label class="checkbox">
    <input
      [ngrxFormControlState]="formState.controls.respSpeed"
      type="checkbox">
    <span class="checkbox-icon"></span>
    {{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_RESPONSE_SPEED' | translate }}
  </label>
  <!--<div class="after-question">-->
    <!--{{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_AFTER_TEXT' | translate }}-->
    <!--<label class="checkbox">-->
      <!--<input-->
        <!--[ngrxFormControlState]="formState.controls.showAnswer"-->
        <!--type="checkbox">-->
      <!--<span class="checkbox-icon"></span>-->
      <!--{{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_RIGHT_ANSWER' | translate }}-->
    <!--</label>-->
    <!--<label class="checkbox">-->
      <!--<input-->
        <!--[ngrxFormControlState]="formState.controls.showStatistics"-->
        <!--type="checkbox">-->
      <!--<span class="checkbox-icon"></span>-->
      <!--{{ 'ACCOUNT.QUIZES.MODAL.EDIT.TEXT_STATISTICS' | translate }}-->
    <!--</label>-->
  <!--</div>-->
  <button
    [class.button-loading]="isLoading$ | async"
    type="submit"
    class="button button-block">
    {{(isEdit)
      ? ('ACCOUNT.QUIZES.MODAL.EDIT.BUTTON_SAVE_CHANGES' | translate)
      : ('ACCOUNT.QUIZES.MODAL.EDIT.BUTTON_CREATE' | translate)
    }}
  </button>
</form>
