@import '~src/styles/variables';

:host ::ng-deep .account {
  .header-user {position: absolute; top: 1.1rem; right: 1.3rem; display: flex; align-items: center;
    @media (max-width: $mobile) {right: 0.5rem}
  }
  .user {margin-right: 13px;
    @media (max-width: $mobile) {margin-right: 5px;}
    &-name {@media (max-width: $mobile) {display: none;}}
    &-avatar {display: inline-block; width: 32px; height: 32px; line-height: 32px; margin-right: 10px;
      text-align: center; font-size: 0.7rem; border-radius: 50%; color: $white; background: $avatar-color;
      @media (max-width: $mobile) {margin-right: 0;}
    }
  }
  .logout {line-height: $icon-height; color: $secondary-color; cursor: pointer;
    &-text {@media (max-width: $mobile) {display: none;}}
  }
  &-content {width: 70%; max-width: 1000px; margin: 60px auto;
    @media (max-width: $mobile) {width: 90%;}
  }
}
