<div class="account">
  <div class="header header-colored">
    <img src="../../../../assets/images/logo.svg" alt="oh-my-quiz-logo">
    <div class="header-user">
      <div *ngIf="(user$ | async) as user" class="user">
        <div class="user-avatar">{{ (user.name) ? (user.name[0] | uppercase) : null }}</div>
        <span class="user-name">{{ user.name }}</span>
      </div>
      <div (click)="logout()" class="logout">
        <span class="icon icon-logout"></span>
        <span class="logout-text">{{ 'ACCOUNT.HEADER.TEXT_LOGOUT' | translate }}</span>
      </div>
    </div>
  </div>
  <main class="account-content">
    <router-outlet></router-outlet>
  </main>
</div>
