<div class="join player-container">
  <div class="join-quiz">
    <h1 class="player-title">{{ (quiz$ | async)?.name }}</h1>
  </div>
  <div class="join-formcontainer">
    <a class="join-back" routerLink="/">
      <span class="icon icon-back"></span>
      {{ 'SHARED.LINK_BACK' | translate }}
    </a>
    <form
      *ngIf="(formState$ | async) as formState"
      (submit)="onSubmit()"
      [ngrxFormState]="formState"
      class="form card">
      <h2 class="card-title">{{ 'PLAYER.JOIN.TEXT_CREATE_YOUR_TEAM' | translate }}</h2>
      <div class="form-group">
        <div class="form-label">{{ 'PLAYER.JOIN.TEXT_TEAM_NAME' | translate }}</div>
        <input
          [class.form-control-invalid]="formState.isSubmitted && formState.controls.teamName.isInvalid"
          [ngrxFormControlState]="formState.controls.teamName"
          type="text"
          class="form-control"/>
        <ng-container *ngIf="formState.isSubmitted && formState.controls.teamName.isInvalid">
          <div
            *ngIf="formState.controls.teamName.errors?.required"
            class="form-error">
            {{ 'PLAYER.JOIN.ERRORS.TEXT_ENTER_TEAM_NAME' | translate }}
          </div>
        </ng-container>
      </div>
      <div
        *ngFor="let player of formState.controls.players.controls; let i = index; trackBy: trackByIndex"
        class="form-group">
        <div class="form-label">{{ 'PLAYER.JOIN.TEXT_PLAYER' | translate }} {{ i + 1 }}</div>
        <input
          [class.form-control-invalid]="formState.isSubmitted
            && formState.controls.players.isInvalid"
          [ngrxFormControlState]="formState.controls.players.controls[i]"
          type="text"
          class="form-control"/>
      </div>
      <ng-container *ngIf="formState.isSubmitted && formState.controls.players.isInvalid">
        <div
          *ngIf="formState.controls.players.errors?.players"
          class="form-error">
          {{ 'PLAYER.JOIN.ERRORS.TEXT_ENTER_PLAYER_NAME' | translate }}
        </div>
      </ng-container>
      <div class="form-buttons join-add">
        <button
          (click)="addPlayer()"
          type="button"
          class="button button-outline button-block">
          {{ 'PLAYER.JOIN.BUTTON_ADD_PLAYER' | translate }}
        </button>
      </div>
      <div class="form-buttons">
        <button
          [class.button-loading]="isLoading$ | async"
          type="submit"
          class="button button-block">
          {{ 'PLAYER.JOIN.BUTTON_JOIN' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
