@import "../../../styles/variables";

:host ::ng-deep .join {display: flex; flex-direction: column; justify-content: center;
  min-height: calc(100vh - 162px);
  &-quiz {position: absolute; top: 0; width: 100%;
    @media (max-width: $mobile), (max-height: 769px) {position: static; margin-bottom: 70px;}
  }
  &-formcontainer {max-width: 360px; margin: 0 auto;}
  &-back {display: block; margin-bottom: 0.55rem; line-height: $icon-height;
    text-decoration: none; font-weight: bold; color: $white;}
  &-add {margin-bottom: 40px;}
}
