<div class="page quiz">
  <div class="page-header">
    <h1 class="page-title">{{ (quiz$ | async)?.name }}</h1>
    <div *ngIf="(quiz$ | async) as quiz" class="page-actions">
      <button
        (click)="edit(quiz)"
        class="button button-small button-outline">
        <span class="icon icon-settings"></span>
        {{ 'ACCOUNT.QUIZES.VIEW.BUTTON_QUIZ_SETTINGS' | translate }}
      </button>
      <button
        (click)="play(quiz)"
        [class.button-loading]="isLoading$ | async"
        class="button button-smallmain">
        {{ 'ACCOUNT.QUIZES.SHARED.BUTTON_PLAY' | translate }}
      </button>
    </div>
  </div>
  <section *ngIf="(quiz$ | async) as quiz" class="section questions">
    <a
      (click)="createQuestion(quiz)"
      class="questions-add">
      <span class="icon icon-coloredplus"></span>
      {{ 'ACCOUNT.QUIZES.VIEW.BUTTON_ADD_QUESTION' | translate }}
    </a>
    <div *ngFor="let question of (questions$ | async)" class="questions-item">
      <div>{{ question.text }}</div>
      <button
        (click)="deleteQuestion(question.id)"
        class="icon icon-cross questions-delete">
      </button>
      <a (click)="editQuestion(quiz, question)" class="questions-link"></a>
    </div>
  </section>
</div>
