@import "../../../../styles/variables";

:host ::ng-deep .quiz {
  .questions {
    &-add {display: block; line-height: $icon-height; padding: 0.8rem 0;
      text-decoration: none; font-weight: bold; color: $primary-color; cursor: pointer;
      border-bottom: 1px solid $border-color;}
    &-item {position: relative; padding: 0.8rem 1.5 * $icon-width 0.8rem 0; border-bottom: 1px solid $border-color;
      line-height: $icon-height;}
    &-delete {position: absolute; right: 0; top: 0.8rem; z-index: 10; padding: 0; border: none; cursor: pointer;
      outline: none;}
    &-link {position: absolute; top: 0; bottom: 0; left: 0; right: 0; cursor: pointer;}
  }
}
