<div class="table-cell competitions-quiz">
  <h3 class="competitionitem-quiz">{{ game.quiz?.name }}</h3>
  <div>{{ game.createdAtString }}</div>
</div>
<div *ngIf="game.teamsScore[0]" class="table-cell competitions-winner">
  {{ 'ACCOUNT.QUIZES.COMPETITION_ITEM.TEXT_WINNER' | translate }}:
  <b>{{ game.teamsScore[0]?.name }}</b>
</div>
<div *ngIf="game.teamsScore[0]" class="table-cell competitions-score">
  {{ 'ACCOUNT.QUIZES.COMPETITION_ITEM.TEXT_SCORE' | translate }}:
  <b>{{ game.teamsScore[0]?.score }}</b>
</div>
